[submodule "config-repo"]
	path = config-repo
	url = https://github.com/Ching-Chieh-Wang/zwap-config-repo.git
[submodule "proto-repo"]
	path = proto-repo
	url = https://github.com/Ching-Chieh-Wang/zwap-proto-repo.git
